[submodule "extern/googletest"]
	path = extern/googletest
	url = https://github.com/google/googletest.git
[submodule "extern/glfw"]
	path = extern/glfw
	url = https://github.com/glfw/glfw.git
[submodule "extern/spdlog"]
	path = extern/spdlog
	url = https://github.com/gabime/spdlog.git
	branch = v1.x
[submodule "extern/stb"]
	path = extern/stb
	url = https://github.com/nothings/stb.git
[submodule "extern/imgui"]
	path = extern/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "extern/glm"]
	path = extern/glm
	url = https://github.com/g-truc/glm.git
	branch = 0.9.8
[submodule "extern/json"]
	path = extern/json
	url = https://github.com/nlohmann/json.git
	branch = master
[submodule "extern/vivid"]
	path = extern/vivid
	url = https://github.com/hackf5/vivid.git
[submodule "extern/tweeny"]
	path = extern/tweeny
	url = https://github.com/mobius3/tweeny.git
